<h1><%= @cart.customer.name %>'s card</h1>

<table class="table">
  <thead>
  <tr>
    <th>Pizza</th>
    <th>Thin crust?</th>
    <th>Price + crust</th>
  </tr>
  </thead>

  <tbody>
  <% total = 0 %>
  <% @cart.pizzas.each do |pizza| %>
    <tr>
      <td><%= pizza.recipe.name %></td>
      <% if pizza.crust.thin %>
        <td>Yes</td>
      <% else %>
        <td>No</td>
      <% end %>
      <td>$ <%= pizza.crust.price + pizza.recipe.price %></td>
      <% total += pizza.crust.price + pizza.recipe.price %>
    </tr>
  <% end %>
  </tbody>
  <tr>
    <td>Total:</td>
    <td></td>
    <td>$ <%= total %></td>
  </tr>
</table>

<h2>Payment and Delivery</h2>
<%= form_for @delivery_info do |form| %>
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

