<h1>Menu</h1>

<div class="row">
  <% @recipes.all.each do |recipe| %>
    <div class="card" style="width:300px; margin: 15px">
      <%= image_tag (recipe.image), class: 'card-img-top' %>
      <div class="card-body">
        <h4 class="card-title"><%= recipe.name %></h4>
        <p style="font-size: small"><i>
        <% recipe.ingredients.each do |ingredient| %>
          <%= ingredient.name %>
        <% end %>
        </i></p>
        <p class="card-text" align="right">$ <%= recipe.price %></p>
        <div class="row">
          <div class="col-sm-12">
            <% if customer_signed_in? %>
              <%= link_to 'Add to Cart <i class="fas fa-shopping-cart"></i> (Regular)'.html_safe, add_to_cart_path(recipe_id: recipe.id, crust_id: 2), class: 'btn btn-success btn-sm', method: :post %>
              <%= link_to 'Add to Cart <i class="fas fa-shopping-cart"></i> (Thin)'.html_safe, add_to_cart_path(recipe_id: recipe.id, crust_id: 1), class: 'btn btn-success btn-sm', method: :post %>
            <% else %>
              <p>Log In to Order a Pizza</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>